#safearea{
  display: block
}

@import '_defines/*'

// Project
@import '_style'

// Custom Files
for $injects_style in hexo-config('injects.style')
  @import $injects_style;

// 自定义样式，文件夹名称可根据喜好修改
@import '_sakura/*'   