// 引入自定义图标
.iconfont
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor
  overflow: hidden
  &.emoji
    width: 1.5em
    height: 1.5em
    vertical-align: -0.3em

// 字体覆盖
h1
  font-family: $fontfamily-logo