// 字体覆盖
p.subtitle
  font-family: $fontfamily-logo
  
// 顶部导航栏铺满屏幕
.l_header
  @media screen and (max-width: $device-2k)
    left: 0 !important
    border-radius: 0 !important
    max-width: 100% !important

// 禁止选中
.not-select,
figcaption,
footer,
section,
details summary,
.new-meta-box,
.nav-tabs
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none
  & p,
  & span
    cursor: $default,default
  &.default-cursor
    cursor: $default,default !important
.allow-select
  -webkit-touch-callout all
  -webkit-user-select all
  -khtml-user-select all
  -moz-user-select all
  -ms-user-select all
  user-select all

// 修改链接的下划线样式
.article a:not([class]):not([data-fancybox]),
.content > a
  position: relative
  text-decoration: none
  &:before
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px
    height: 1px
    width: 100%
    background: #ff5722
    transform: scale(0)
    transition: all 0.5s
  &:hover:before
    transform: scale(1)

// 修改标题样式
article#post
  & > h1,h2,h3
    font-weight: 700
    background: linear-gradient(to bottom,transparent 60%,rgba(189,202,219,.3) 0) no-repeat
    display: initial
    width: auto
    border-bottom: none
  & > h3
    font-weight: 500
    position: initial

// 封面标题居中
// 列表页的内容居中
.post.post-v3.white-box
  text-align: center
  & a
    font-weight: 600 !important

// 内容居左且首行缩进
.post.post-v3.white-box  p
  text-align: left
  text-indent: 2em


// 文章页不显示头图
#l_main .article .headimg-div
  display: none


// 借鉴大佬的
// 尝试修复 webp 带来的异常
picture
  display contents

// 恢复 tab 标签内的 note 
.tab-content .note p,
.article blockquote p,
div.note p
  margin 0

// 页脚修改
.footnotes-sep
  display: none
.footnotes
  background: var(--color-block);
  border-radius: 4px;
  padding: 16px;
  margin-top: 4rem;

// link 标签 链接居中
.md .tag.link
  margin: 1em auto
  text-align: center

// 缩短 Tab 内时间线标题高度
.tab-pane > .timeline > .h2
  padding-top: 0

// noteblock 标题字号增大
.note strong
  font-size: 1.5rem
  font-family: 'SentyGoldenBell'


// 标题大小
details summary
  font-size 1rem !important

// 标题样式
h1.title
  margin: 10px
  text-align: center
  font-size: 2rem !important
  font-weight: 600
  font-family: $fontfamily-logo
h1.title.common_read_h1
  text-align: center !important
  font-size: 2.5rem !important

// 文章 P 首行缩进 2
#l_main > article.cus-indent
  p
    text-indent 2em
    &.p
      text-indent initial 
  details,
  blockquote,
  section,
  .prev-next,
  .new-meta-box,
  .note,
  .tag,
  .tab-pane .checkbox 
    p
      text-indent initial 
#l_main li p
  text-indent initial !important


// 个人卡片
.blogger .text
  margin-bottom: 10px
  font-family: $fontfamily-body


// 文章页页脚导航
#l_main .article .prev-next>a p.content
  max-height: 85px
  overflow: hidden


// 样式修订 HandSome H1 H2 标题
article#post
  & h2
    font-weight: 900
    line-height: inherit
    background: linear-gradient(to bottom,transparent 60%,rgba(189,202,219,.3) 0) no-repeat
    display: initial
    width: auto
    border-bottom: none
  & h3
    font-weight 900


// 设置code样式
code
  &:not([class])
    font-size: .8125rem
    padding: 4px
    font-weight: 600
    background: var(--color-codeblock)



// 代码块标题颜色
.highlight figcaption
  background: #ffeed2



// <kbd></kbd>
kbd
  background-color: #f2f2f2
  color: var(--color-p)
  padding: 3px 5px
  border-radius: 0.25em
  box-shadow: inset 0 -2px 0 hsl(240deg 1% 83%), 0 1px 1px rgba(0,0,0,.05)
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace




// 右键样式修改
ul.list-v.rightmenu
  box-shadow: 0 -2px 4px 0 rgba(0,0,0,.08), 0 4px 8px 0 rgba(0,0,0,.08), 0 8px 16px 0 rgba(0,0,0,.08)
  border-radius: 8px
  li
    a
      cursor: $pointer,pointer !important

// 修饰导航栏标题
.l_header .nav-sub .title
  margin: 0 auto
  font-size: 1.5rem
  font-weight: 800 !important
  font-family: $fontfamily-logo